@model IEnumerable<VesApp.Domain.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEvento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnlaceOnline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnlaceInscripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEvento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnlaceOnline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnlaceInscripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEvent }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEvent }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEvent })
        </td>
    </tr>
}

</table>
