@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Reflexiones", "Index", "Reflexions")</li>
            <li>@Html.ActionLink("Predicaciones", "Index", "Predications")</li>
            <li>@Html.ActionLink("Proyectos", "Index", "Projects")</li>
            <li>@Html.ActionLink("Eventos", "Index", "Events")</li>
            <li>@Html.ActionLink("Configuraciones", "Index", "Donations")</li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>@Html.ActionLink("Registrar usuario", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
